body{
    overflow: hidden;
}

.mainBox{
    display: flex;
    flex-direction: row;
    height: 93vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
    height: 75vh;
    width: 75vh;
    border-radius: 16px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.textBox{
    background-color: lightgray;
    height: 5vh;
    width: 35vh;
    border-radius: 16px;
    border: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35vh;
}

.buttonStyle{
    background-color: lightgray;
    height: 5vh;
    width: 15vh;
    border-radius: 16px;
    border: 0;
    cursor: pointer;
}